# format:
# - all paths **must** start with a slash
# - directories **must** end with a slash
# - files **must not** end with a slash
# - subdirectory matching must be explicit for better compatibility (ex., `node_modules` does not match `packages/foo/node_modules`)
# - there must only be one .gitignore in the root of the project
# - exclude OS specific files globally (ex., `.DS_Store`)

/.env
/.next/
/.vercel/
/build/
/dotenv/.env.keys
/dotenv/.env*.local
/next-env.d.ts
/node_modules/
/tmp/
.tsbuildinfo
tsconfig.tsbuildinfo

# Vercel's CLI adds this unless defined exactly as below
.env*.local
.vercel
