# ****** Required ******

APP_NAME=
NEXT_PUBLIC_SITE_URL=

# Github
GITHUB_ACCESS_TOKEN=
GITHUB_USERNAME=
GITHUB_REPO=
OBSIDIAN_INBOX_PATH=

# ****** Optional ******

# QSTASH
QSTASH_URL=
QSTASH_TOKEN=
QSTASH_CURRENT_SIGNING_KEY=
QSTASH_NEXT_SIGNING_KEY=

# AI
OPENAI_API_KEY=
ANTHROPIC_API_KEY=