# ****** Required ******

APP_NAME=obsidian-tools
NEXT_PUBLIC_SITE_URL=obsidian-tools.brxnd.ai

# Github
GITHUB_ACCESS_TOKEN=
GITHUB_USERNAME=
GITHUB_REPO=
OBSIDIAN_INBOX_PATH=

# ****** Optional ******

# QSTASH
QSTASH_URL=
QSTASH_TOKEN=
QSTASH_CURRENT_SIGNING_KEY=
QSTASH_NEXT_SIGNING_KEY=