APP_NAME=
NEXT_PUBLIC_SITE_URL=

# Github
GITHUB_ACCESS_TOKEN=
GITHUB_USERNAME=
GITHUB_REPO=
OBSIDIAN_INBOX_PATH=

# Secrets
SECRET_KEY=
CRON_SECRET=

# QSTASH
QSTASH_URL=
QSTASH_TOKEN=
QSTASH_CURRENT_SIGNING_KEY=
QSTASH_NEXT_SIGNING_KEY=

# AI
OPENAI_API_KEY=
ANTHROPIC_API_KEY=

# Summaries
TIMEZONE="America/New_York"

## You can leave these or change them.
DAILY_SUMMARY_NAME="DAILY SUMMARY"
MONTHLY_SUMMARY_NAME="MONTHLY SUMMARY"
DAILY_SUMMARY_FOLDER="Daily Summaries"

# Weekly Summary
WEEKLY_SUMMARY_NAME="WEEKLY SUMMARY"
WEEKLY_SUMMARY_DAY="Saturday"
WEEKLY_SUMMARY_TIME="12:00" # 24-hour format, needs to be on the hour :00

# Redis
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Name and bio for prompt
# Details for prompt
YOUR_NAME=""
YOUR_BIO=""

#### Optional

# Proxy
PROXY_HOST=
PROXY_PORT=
PROXY_USERNAME=
PROXY_PASSWORD=